edit/out/
edit/clips
edit/clips_draft/
edit/clips_wan/
edit_v6/clips/
edit_v6/out/
edit_v7/clips/
edit_v7/out/
stories/aliens_wrong_place/out/
stories/aliens_wrong_place/clips/
stories/aliens_wrong_place/clips_raw/
stories/aliens_wrong_place/gfx/*.mp4
